@font-face {
    font-family: 'StarJedi';
    src: url('./Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: black;
    color: white;
}

h5, button {
    font-family: 'StarJedi';
}


.navbar {
    background-color: #000000 !important;
}

.scroll {
    scrollbar-width: thin;
    scrollbar-color: rgb(232, 216, 216) transparent;
}

.card {
    color: white
}

.card .list-group-item {
    color: white;
}

.card ul li {
    background-color: #1d1e20;
}